
.CardRolling {
    position: absolute;
    overflow: hidden;
    width: 290px;
    height: 580px;
    /* display: none; */
}
.NumRolling {
    position: absolute;
    overflow: hidden;
    width: 290px;
    height: 580px;
}
.BondRolling {
    position: absolute;
    overflow: hidden;
    width: 290px;
    height: 580px;
}
.CardRolling>ul li {
    /* float: left; */
    width: 290px;
    height: 580px;
}
.NumRolling>ul li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 290px;
    height: 580px;
}
.BondRolling>ul li {
    list-style-type: none;
    float: left;
    width: 290px;
    height: 580px;
}
.CardRolling>ul li img{
    width: 100%;
    height: 100%;
}
.NumRolling>ul li img{
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.BondRolling>ul li img{
    max-width: 50px;
    max-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}
@keyframes runY {
    to {
        transform: translateY(-4640px);
    }
}
@keyframes runX {
    to {
        transform: translateX(-2900px);
    }
}
.CardRolling>ul {
    animation: runY 3s linear infinite;
    padding-left: 0px ;
}
.NumRolling>ul {
    animation: runX 3s linear infinite;
    padding-left: 0px ;
    width: 3190px;
}
.BondRolling>ul {
    /* animation: runY 3s linear infinite; */
    padding-left: 0px ;
}

@keyframes CardFlash {
    0% {
        background: url(抽奖软件UI/底色/高分子/高分子2.png);
        background-size: contain;
    }
    12.5% {
        background: url(抽奖软件UI/底色/复合/复合1.png);
        background-size: contain;
    }
    25% {
        background: url(抽奖软件UI/底色/复合/复合2.png);
        background-size: contain;
    }
    37.5% {
        background: url(抽奖软件UI/底色/金属/金属1.png);
        background-size: contain;
    }
    50% {
        background: url(抽奖软件UI/底色/金属/金属2.png);
        background-size: contain;
    }
    62.5% {
        background: url(抽奖软件UI/底色/非金/非金1.png);
        background-size: contain;
    }
    75% {
        background: url(抽奖软件UI/底色/非金/非金2.png);
        background-size: contain;
    }
    87.5% {
        background: url(抽奖软件UI/底色/高分子/高分子1.png);
        background-size: contain;
    }
    to {
        background: url(抽奖软件UI/底色/高分子/高分子2.png);
        background-size: contain;
    }
}

@keyframes BondFlash {
    0% {
        background: url(抽奖软件UI/键和方式/8-BCC.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    12.5% {
        background: url(抽奖软件UI/键和方式/1-H2.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    25% {
        background: url(抽奖软件UI/键和方式/2-水.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    37.5% {
        background: url(抽奖软件UI/键和方式/3-乙炔.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    50% {
        background: url(抽奖软件UI/键和方式/4-正四面体.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    62.5% {
        background: url(抽奖软件UI/键和方式/5-石墨.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    75% {
        background: url(抽奖软件UI/键和方式/6-丙炔.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    87.5% {
        background: url(抽奖软件UI/键和方式/7-简单立方.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
    to {
        background: url(抽奖软件UI/键和方式/8-BCC.png) no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

@keyframes NumFlash {
    0% {
        background: url(抽奖软件UI/数字/0.png);
    }
    10% {
        background: url(抽奖软件UI/数字/1.png);
    }
    20% {
        background: url(抽奖软件UI/数字/2.png);
    }
    30% {
        background: url(抽奖软件UI/数字/3.png);
    }
    40% {
        background: url(抽奖软件UI/数字/4.png);
    }
    50% {
        background: url(抽奖软件UI/数字/5.png);
    }
    60% {
        background: url(抽奖软件UI/数字/6.png);
    }
    70% {
        background: url(抽奖软件UI/数字/7.png);
    }
    80% {
        background: url(抽奖软件UI/数字/8.png);
    }
    90% {
        background: url(抽奖软件UI/数字/9.png);
    }
}

.CardUndefined {
    position: absolute;
    background-size: contain;
    width: 290px;
    height: 580px;
    animation: CardFlash 2s linear infinite;
}

.NumUndefined {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: NumFlash 2s linear infinite;
}

.BondUndefined {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    animation: BondFlash 3s linear infinite;
}

#result {
    margin: auto;
    transition: transform 2s;
    transform-style: preserve-3d;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 580px;
}
#result1 {
    transition: transform 2s;
    transform-style: preserve-3d;
    left: -10px;
    width: 320px;
    height: 580px;
    position: absolute;
}
#result2 {
    transition: transform 2s;
    transform-style: preserve-3d;
    right: -10px;
    width: 320px;
    height: 580px;
    position: absolute;
}

#result>.CardUndefined>img {
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    max-width: 150px;
    max-height: 150px;
}

.bondbg {
    background-color: hsla(0,0%,100%,.6); 
    position: absolute;
    width: 50px;
    height: 50px;
}
.bondbg2 {
    background-color: transparent; 
    position: absolute;
    width: 50px;
    height: 50px;
}

.lefttop {
    left: 40px;
    top: 40px;
}
.rightbottom {
    right: 40px;
    bottom: 40px;
}

.centerNum {
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    max-width: 150px;
    max-height: 150px;
}

.ring8>.plane {
    height: 150px;
    width: 150px
}

.ring82>.plane {
    height: 150px;
    width: 150px
}