.ring8>.eine {
    transform: translateZ(250px);
}
.ring8>.zwei {
    transform: rotateY(45deg) translateZ(250px);
}
.ring8>.drei {
    transform: rotateY(90deg) translateZ(250px);
}
.ring8>.viel {
    transform: rotateY(135deg) translateZ(250px);
}
.ring8>.funf {
    transform: rotateY(180deg) translateZ(250px);
}
.ring8>.sechs {
    transform: rotateY(225deg) translateZ(250px);
}
.ring8>.seben {
    transform: rotateY(270deg) translateZ(250px);
}
.ring8>.acht {
    transform: rotateY(315deg) translateZ(250px);
}

.ring8card>.plane img {
    max-width: 200px;
    max-height: 400px;
}

.ring8card>.eine {
    transform: translateZ(500px);
}
.ring8card>.zwei {
    transform: rotateY(45deg) translateZ(500px);
}
.ring8card>.drei {
    transform: rotateY(90deg) translateZ(500px);
}
.ring8card>.viel {
    transform: rotateY(135deg) translateZ(500px);
}
.ring8card>.funf {
    transform: rotateY(180deg) translateZ(500px);
}
.ring8card>.sechs {
    transform: rotateY(225deg) translateZ(500px);
}
.ring8card>.seben {
    transform: rotateY(270deg) translateZ(500px);
}
.ring8card>.acht {
    transform: rotateY(315deg) translateZ(500px);
}

.ringNum>.one {
    transform: translateZ(380px)
}
.ringNum>.two {
    transform: rotateX(36deg) translateZ(380px)
}
.ringNum>.three {
    transform: rotateX(72deg) translateZ(380px)
}
.ringNum>.four {
    transform: rotateX(108deg) translateZ(380px)
}
.ringNum>.five {
    transform: rotateX(144deg) translateZ(380px)
}
.ringNum>.six {
    transform: rotateX(180deg) translateZ(380px)
}
.ringNum>.seven {
    transform: rotateX(216deg) translateZ(380px)
}
.ringNum>.eight {
    transform: rotateX(252deg) translateZ(380px)
}
.ringNum>.nine {
    transform: rotateX(-72deg) translateZ(380px)
}
.ringNum>.ten {
    transform: rotateX(-36deg) translateZ(380px)
}

.cubeShow_114514 {
    animation: cubeSpin114514 5s infinite linear
}

@keyframes cubeSpin114514 {
    0% {
        transform: rotateX(0deg)
    }

    to {
        transform: rotateX(-1turn)
    }
}